
<h2>Please share your memories and thoughts here.</h2>
<%= form_for(@reflection) do |f| %>
  <!-- if there are any questions, it will do this -->
  <!-- pluralize will change the word "error" if there are more than 1 error -->
  <% if @reflection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reflection.errors.count, "error") %>prohibited this question from being saved</h2>
      <ul>
        <% @reflection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <br />
    <div class="field">
      <%= f.label :relationship %>
      <%= f.text_field :relationship %>
    </div>
    <br>
    <div class="field">
      <%= f.label :thoughts %>
      <%= f.text_field :thoughts %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
